<!DOCTYPE html>
{% load staticfiles sekizai_tags %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}{% endblock title %}
        </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="main-menu">
                            <li class="main-menu--item"><a class="btn btn-primary" href="{% url 'bills-list' %}">Home</a></li>
                            <li class="main-menu--item"><a class="btn btn-primary" href="{% url 'bills' %}">Bollette</a></li>
                            <li class="main-menu--item"><a class="btn btn-primary" href="{% url 'expenses' %}">Spese</a></li>
                            <li class="main-menu--item"><a class="btn btn-primary" href="{% url 'memo' %}">Memo</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div class="container">
            {% block content %}{% endblock content %}
        </div>
        <footer>
            <div class="container">
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <script async type="text/javascript">
            WebFontConfig = {
                google: { families: [ 'Roboto+Condensed:400,700:latin', 'Bevan:400:latin'] }
            };
            (function() {
                var wf = document.createElement('script');
                wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
                wf.type = 'text/javascript';
                wf.async = 'true';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(wf, s);
            })();
        </script>
        {% render_block "bottom_js" %}
    </body>
</html>
