{% extends "deadlines/bill_list.html" %}
{% load rest_framework %}

{% block bills %}
<div class="row">
	<div class="col-sm-12">
		<h2>Bollette</h2>
	</div>
	<div class="col-sm-8">
		<table class="table table-hover table-striped">
			<thead class="thead-inverse">
			    <tr>
			      	<th>Nome</th>
			      	<th>Costo</th>
			      	<th>Data scadenza</th>
			      	<th class="text-center">Pagata</th>
			      	<th class="text-center">Data pagamento</th>
			    </tr>
			</thead>
			<tbody>
				{% for bill in bills %}			
			    <tr>
			      	<td>{{ bill.title }}</td>
			      	<td>{{ bill.cost }}</td>
			      	<td>{{ bill.expiry_date }}</td>
			      	<td class="text-center">
			      		{% if bill.payed %}
			      			<i class="fa fa-thumbs-up" aria-hidden="true"></i>
						{% else %}
							<i class="fa fa-thumbs-down" aria-hidden="true"></i>
						{% endif %}
					</td>
			      	<td class="text-center">
			      		{% if bill.payed_date %}
			      			{{ bill.payed_date }}
			      		{% else %}
			      			Da pagare
			      		{% endif %}
			      	</td>
			    </tr>
			    {% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-sm-4">
		<form action="" method="post">
		    {% csrf_token %}
		    {% render_form serializer template_pack='rest_framework/vertical' %}
		    <button type="submit" class="btn btn-primary">Save</button>
		</form>
	</div>
</div>
{% endblock %}

{% block expenses %}{% endblock %}
{% block memo %}{% endblock %}
