{% extends "base.html" %}
{% load rest_framework sekizai_tags %}


{% block content %}
<div class="row">
	<div class="col-sm-12">
		<h2>Spese</h2>
	</div>
	<div class="col-sm-12">
		<ul class="month-selector">
			{% for month in months %}
				<li class="month-selector--item"><a class="btn btn-primary" href="{% url 'expenses' %}?payed_date__month={{ month.0 }}">{{ month.1 }}</a></li>
			{% endfor %}
        </ul>
	</div>
	<div class="col-sm-12 col-md-12 col-lg-3">
		<form class="add-form" action="" method="post">
		    {% csrf_token %}
		    {% render_form serializer template_pack='rest_framework/vertical' %}
		    <button type="submit" class="btn btn-primary">Save</button>
		</form>
	</div>
	<div class="col-sm-12 col-md-12 col-lg-7">
		<table class="table table-hover table-striped">
			<thead class="thead-inverse">
			    <tr>
			      	<th>Nome</th>
			      	<th class="text-right">Costo</th>
			      	<th class="text-center">Data spesa</th>
			      	<th class="text-center">Chi ha speso</th>
			    </tr>
			</thead>
			<tbody>
				{% for expense in expenses %}
			    <tr class="clickable-row" data-url="{% url 'expense-detail' pk=expense.pk %}">
			      	<td>{{ expense.title }}</td>
			      	<td class="text-right">{{ expense.cost }} €</td>
			      	<td class="text-center">{{ expense.payed_date }}</td>
			      	<td class="text-center">
			      		<span class="person-name {% if expense.person == 'L' %}person-leo{% else %}person-isa{% endif %}">{{ expense.get_person }}</span>
			      	</td>
			    </tr>
			    {% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-sm-12 col-md-12 col-lg-2">
		<p class="expense expense-leo">Leo: 
			<span>{% if total_leo %}{{ total_leo }} €{% else %}0 €{% endif %}</span></p>
		<p class="expense expense-isa">Isa: 
			<span>{% if total_isa %}{{ total_isa }} €{% else %}0 €{% endif %}</span></p>
	</div>
</div>

{% addtoblock "bottom_js" %}
<script type="text/javascript">
	jQuery(document).ready(function($) {
	    $(".clickable-row").click(function() {
	        window.location = $(this).data("url");
	    });
	});
</script>
{% endaddtoblock %}

{% endblock %}
