{% extends "base.html" %}
{% load rest_framework %}


{% block content %}
<div class="row">
	<div class="col-sm-12">
		<h2>Spese {{ expense.title }}</h2>
	</div>
	<div class="col-sm-4">
		<form class="add-form" action="" method="post">
		    {% csrf_token %}
		    {% render_form serializer template_pack='rest_framework/vertical' %}
		    <button type="submit" class="btn btn-primary">Save</button>
		</form>
	</div>
	<div class="col-sm-8">
		<table class="table table-hover table-striped">
			<thead class="thead-inverse">
			    <tr>
			      	<th>Nome</th>
			      	<th>Costo</th>
			      	<th>Data spesa</th>
			      	<th class="text-center">Chi ha speso</th>
			    </tr>
			</thead>
			<tbody>
			    <tr>
			      	<td>{{ expense.title }}</td>
			      	<td>{{ expense.cost }}</td>
			      	<td>{{ expense.payed_date }}</td>
			      	<td class="text-center">
			      		{{ expense.person }}
					</td>
			    </tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock %}