$blue-light: #d9eef2;
$blue: #8da4cc;
$blue-button-bs: #0275d8;
$blue-button-bs-dark: #025aa5;
$blue-dark: #464a56;
$white: #ffffff;
$red: #c55151;
$red-dark: darken($red, 20%);
$yellow: #d6c944;

$gutter: 20px;
$gutter-half: $gutter / 2;
$gutter-quarter: $gutter / 4;
$gutter-double: $gutter * 2;
$gutter-quadruple: $gutter * 4;
