$blue-light: #e5f7ca;
$blue: #A8DBA8;
$blue-button-bs: #79BD9A;
$blue-button-bs-dark: #3B8686;
$blue-dark: #0B486B;
$white: #ffffff;
$red: #c55151;
$red-dark: darken($red, 20%);
$yellow: #d6c944;

$gutter: 20px;
$gutter-half: $gutter / 2;
$gutter-quarter: $gutter / 4;
$gutter-double: $gutter * 2;
$gutter-quadruple: $gutter * 4;
