$blue-light: #d9eef2;
$blue: #8da4cc;
$blue-button-bs: #0275d8;
$blue-button-bs-dark: #025aa5;
$blue-dark: #464a56;
$white: #ffffff;
$red: #c55151;
$yellow: #d6c944;

$gutter: 20px;
$gutter-half: $gutter / 2;
$gutter-quarter: $gutter / 4;
$gutter-double: $gutter * 2;
$gutter-quadruple: $gutter * 4;


body {
    font-family: 'Roboto Condensed', sans-serif;
    background: $blue-light;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Crimson Text', serif;
    font-weight: bold;
}

h1,
h2 {
    margin-bottom: $gutter;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    font-size: 48px;

    @media(max-width: 991px){
        font-size: 38px;
    }

    @media(max-width: 767px){
        font-size: 36px;
    }

    @media(max-width: 575px){
        font-size: 32px;
    }
}

header {
    padding: $gutter;
    margin-bottom: $gutter-double;
    background: $blue-dark;
}

footer {
    padding: $gutter-double;
    margin-top: $gutter-double;
    background: $blue-dark;
}

.main-menu,
.month-selector {
    text-align: center;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

.month-selector {
    margin-bottom: $gutter;
}

.main-menu--item {
    display: inline-block;
    margin: 0  $gutter-half $gutter-half 0;
    text-transform: uppercase;

    a {
        color: $white;
        border-color: $blue-dark;
        text-decoration: none;
        background: $blue-button-bs;
        padding: $gutter-half $gutter;
        font-size: 20px;

        @media(max-width: 991px){
            font-size: 18px;
        }

        @media(max-width: 767px){
            font-size: 16px;
        }

        @media(max-width: 575px){
            font-size: 14px;
        }
    }

    &:hover {

        a {
            background: $blue-button-bs-dark;
            color: $white;
        }
    }
}

.month-selector--item {
    display: inline-block;
    margin: 0  $gutter-quarter $gutter-quarter 0;
    text-transform: uppercase;

    a {
        color: $white;
        border-color: $blue-dark;
        text-decoration: none;
        background: $blue;
        padding: $gutter-quarter $gutter-half;
        font-size: 15px;

        @media(max-width: 991px){
            font-size: 14px;
        }

        @media(max-width: 767px){
            font-size: 13px;
        }

        @media(max-width: 575px){
            font-size: 12px;
        }
    }

    &.selected a {
        background: $blue-button-bs-dark;
        color: $white;
    }

    &:hover {

        a {
            background: $blue-button-bs-dark;
            color: $white;
        }
    }
}

.table {
    font-size: 18px;

    @media(max-width: 991px){
        font-size: 16px;
    }

    @media(max-width: 767px){
        font-size: 14px;
    }

    @media(max-width: 575px){
        font-size: 12px;
    }

    thead th,
    td,
    th {
        vertical-align: middle;
    }
}

.thead-inverse th {
    background-color: $blue-dark;
}

.table-hover tbody tr {
    &:hover {
        background-color: $blue;
    }
}

.clickable-row {
    cursor: pointer;
}

.add-form {
    padding: $gutter;
    background: $blue-dark;
    color: $white;
    border-radius: $gutter-quarter;
    border: 2px solid $blue;
    text-transform: uppercase;

    @media(max-width:991px){
        margin-bottom: $gutter-double;
    }

    label {
        font-size: 16px;
        @media(max-width: 991px){
            font-size: 20px;
        }

        @media(max-width: 767px){
            font-size: 18px;
        }
    }
}

.btn-save {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.help-block {
    background: $red;
    display: block;
    border-radius: 0 0 $gutter-quarter $gutter-quarter;
    padding: $gutter-quarter 15px $gutter-quarter;
    color: $white;
    margin-top: -2px;
    border: 1px solid rgba(0,0,0,.15)
}

.expense {
    padding: $gutter;
    text-align: center;
    border-radius: $gutter-quarter;

    span {
        font-size: 20px;
        font-weight: bold;
    }
}

.person-name {
    padding: $gutter-quarter $gutter-half;
    border-radius: $gutter-quarter;

    &.person-isa {
        background: $red;
        color: $white;
    }

    &.person-leo {
        background: $blue-button-bs;
        color: $white;
    }
}

.expense-leo,
.expense-isa {
    background: $yellow;
}

.expense-difference {
    background: $red;
}
