$blue-light: #d9eef2;
$blue: #8da4cc;
$blue-dark: #464a56;
$white: #ffffff;
$red: #c55151;
$yellow: #d6c944;

$gutter: 20px;


body {
    font-family: 'Roboto Condensed', sans-serif;
    background: $blue-light;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bevan', serif;
}

h1,
h2 {
    margin-bottom: $gutter;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h2 {
    text-align: center;
}

header {
    padding: $gutter;
    margin-bottom: $gutter * 2;
    background: $blue-dark;
}

footer {
    padding: $gutter * 2;
    margin-top: $gutter * 2;
    background: $blue-dark;
}

.main-menu {
    text-align: center;
    list-style: none;
    margin-bottom: 0;
}

.main-menu--item {
    display: inline-block;
    margin-right: $gutter / 2;
    text-transform: uppercase;

    a {
        color: $blue-dark;
        border-color: $blue-dark;
        text-decoration: none;
        background: $blue-light;
        padding: $gutter / 2 $gutter;
    }

    &:hover {

        a {
            background: $blue;
            color: $white;
        }
    }
}

.thead-inverse th {
    background-color: $blue;
}

.table-hover tbody tr {
    &:hover {
        background-color: $blue;
    }
}

.clickable-row {
    cursor: pointer;
}

.add-form {
    padding: $gutter;
    background: $blue-dark;
    color: $white;
    border-radius: $gutter / 4;
    border: 2px solid $blue;
    text-transform: uppercase;
}

.help-block {
    background: $red;
    display: block;
    border-radius: 0 0 $gutter / 4 $gutter / 4;
    padding: $gutter / 4 15px $gutter / 4;
    color: $white;
    margin-top: -2px;
    border: 1px solid rgba(0,0,0,.15)
}

.expense {
    padding: $gutter;
    text-align: center;
    border-radius: $gutter / 4;

    span {
        font-size: 20px;
    }
}

.expense-leo {
    background: $yellow;
}

.expense-isa {
    background: $yellow;
}